body{
  box-sizing: border-box;
  background: #222;
}
.app {
  background: linear-gradient(135deg, #05f4b4, #593c88);

  width: 90%;
  max-width: 470px;
  padding: 40px 35px;
  margin: 100px auto 0;
  border-radius: 20px;
}
.container {
  display: flex;
  justify-content: center;
}
.displaybox {
  display: flex;
  justify-content: center;
  
}
h1 ,h2{
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
  text-align: center;
}

.search {
  display: flex;
  justify-content: space-between;
}
input {
  width: 300px;
  
  height: 1rem;
  background: #fff;
  color: #0c0b0b;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 15px;
}
button {
  background: none;
  cursor: pointer;
  border: none;
  font-size: larger;
  color: #fff;
  margin: 5px;
}
p {
  color: #fff;
  font-size: 20px;
}
.weather-details{
  display: flex;
  justify-content:space-between;
 
  
}
img{
margin: auto;
display: block;
width:6em;
height:6em;

}
